* {
    padding: 0;
    margin: 0;
    font-family: 'EB Garamond', serif;
  }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b4efc;
    padding: 20px;
    width: 100%;
    border-bottom: #ccc solid 5px;
    filter: drop-shadow(0px 10px 6px #787878);

    
}

img.checkbox {
  border: solid #787878 5px;
  border-radius: 20px;
  width: 5%;
}


h1 {
    text-shadow: 0 0 10px 10px #b61717;
    font-size: 80px;
    color: #ffffff;
    margin: 0 30px;
    text-shadow: -5px -5px #787878;
    background-color: 787878;

}

h4 {
  color: white;
  filter: drop-shadow(-20px -7px #787878);
}

.loginImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(10px 10px 10px #787878);

}

img.clipboard {
  width: 20%;
  border-radius: 50%;
  align-self: center;
  background-color: white;
  border: #3B4EFC solid 3px;
}

.loginContainer {
    height: 40vh;
    width: 40vw;
    background-color: #ccc;
    padding: 120px 50px;
    border: #3B4EFC solid 3px;
    filter: drop-shadow(30px 30px 20px #787878);
   
    position: relative;
    left: 500px;
    top: 40px;
    
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #3B4EFC;
    color: white;
    cursor: pointer;
    width: 100%;
}

.signUpButton {
  height: 35px;
  width: 8%;
  border-radius: 40px;
  margin: 10px;
}

.loginButton {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}

.cancelButton1 {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}
  


